@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
